name: Manual release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ubuntu: "14.04"
            image: "ubuntu:14.04"
            infix: "openssl1.0"
            cxxflags: "-std=c++11"
          - ubuntu: "18.04"
            image: "ubuntu:18.04"
            infix: "openssl1.1"
            cxxflags: "-std=c++11"
          - ubuntu: "24.04"
            image: "ubuntu:24.04"
            infix: "openssl3"

    steps:
      - name: Checkout source ref
        uses: actions/checkout@v4
      - name: Setup Zig
        uses: Rul1an/zig-cross-compile-action@v1
        with:
          version: 0.12.0
          target: x86_64-linux-gnu.2.3
      - name: Setup build deps (host)
        run: |
          git clone https://github.com/ge9/zig-gcc-wrapper "$RUNNER_TEMP/zig-gcc-wrapper"
      - name: Build on Ubuntu ${{ matrix.ubuntu }}
        run: |
          docker run --rm \
            -v "$PWD:/src" \
            -v "$(dirname "$(which zig)"):/opt/zig" \
            -v "$RUNNER_TEMP/zig-gcc-wrapper:/opt/zig-gcc-wrapper" \
            -w /src \
            ${{ matrix.image }} \
            bash -euxc '
              export PATH=/opt/zig:/opt/zig-gcc-wrapper:$PATH
              apt update
              apt install -y build-essential libssl-dev libboost-dev
              CXXFLAGS="${{ matrix.cxxflags }}" zigmake 2.4
              strip stunserver stunclient stuntestcode
              tar czvf stunserver-${{ github.ref_name }}-${{ matrix.infix }}.tar.gz \
                stunserver stunclient stuntestcode
            '
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.ubuntu }}
          path: stunserver-${{ github.ref_name }}-${{ matrix.infix }}.tar.gz
          retention-days: 1
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**/*
